<!DOCTYPE html>
<div class="mainForm user_formish " style="width: 50%;">
	ALL USERS <br/>
<table style="border: green solid 1px;">
	<tr style="border: green solid 1px;">
	  <td style="border: green solid 1px;">id</td>  
	  <td style="border: green solid 1px;">username</td>   
	  <td style="border: green solid 1px;">token</td>  
	  <td style="border: green solid 1px;">rate limits</td>   
	  <td style="border: green solid 1px;">project ref</td>
	</tr>
<% FOREACH user IN users %>
	<tr style="border: green solid 1px;">
	  <td style="border: green solid 1px;"><%user.id%></td>  
	  <td style="border: green solid 1px;"><%user.username%></td>   
	  <td style="border: green solid 1px;"><%user.token%></td>  
	  <td style="border: green solid 1px;"><%user.rate_limits%></td>   
	  <td style="border: green solid 1px;"><a href="<%user.project_ref%>"> project<a/></td>
	</tr>
<% END %>
	</table>
</div>