<!DOCTYPE html>
<div class="mainForm user_formish " style="width: 50%;">
                    <h3>Sign in or <a href="/reg"> register</a><br/><br/><pre style='color: red;'><% error %></pre></h3>
<form enctype="multipart/form-data" class="form" id="form_41983" name="form_submit" accept-charset="utf-8" action="/auth" method="post">

<div class="pages">
<div class="page current" id="page_1">
  <div id="i321169" class="shift  type-text">
<label class="label required" for="field321169"> Username <span class="required">*</span></label>

<div class="unit"><input class="text required" style="width:100%;" type="text" name="username" id="field321169" data-id="321169" placeholder="" value=""></div>
</div>
<div id="i321173" class="shift  type-password">
<label class="label required" for="field321173"> Password <span class="required">*</span></label>

<div class="unit"><input class="text required" style="width:100%;" type="password" name="password" id="field321173" data-id="321173" placeholder="" value=""></div>
</div>

</div>
</div>

<div class="shift btn"><button type="submit" class="submit" name="submit" value="send">Sign in</button></div>
<br/>
</form>
<div class="overlay"></div><div class="progress"><div class="bar">Waiting...</div></div>                  </div>