<!DOCTYPE html>
<div class="mainForm user_formish " style="width: 50%;">
<p1> CALCULATOR </p1>
<br/>
<br/>
<form 
	enctype="multipart/form-data" 
	class="form" id="form_41983" 
	name="form_submit" accept-charset="utf-8" 
	action="/exec" method="post">
	<input 
		type="text" 
		name="expression" 
		style="width: 80%;"
		placeholder="Please type expression"> 
	</input>
	<br/>
	<br/>
	<br/>
	Your rate limits: <% rate_limits %>
	<br/>
	<% error %>
	<br/>
	<button 
		type="submit" 
		style="width: 81%;"
		class="submit" 
		name="submit" 
		value="send">	
			Solve
	</button>
	<br/>
	<% IF answer%>
		<label> Answer: <% answer %> </label>
	<%END%>
</form>
</div>
